.container {
    width: 100%;
    min-height: 100vh;
}

.content {
    /* position: absolute; */
    /* top: 0;
    z-index: -1; */

    width: 100%;
    /* min-height: fit-content; */

    display: flex;
    flex-direction: column;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    height: 100%;
    width: 100%;

    background-image: url('/src/utils/images/montFuji.jpg');
    background-size: cover;

    transition: 0.7s;

    display: flex;
    flex-direction: column;
}

.title__barre {
    display: block;
    border: 2px solid black;
    margin: 0 25%;
}

.mainTitle, .secondTitle {
    text-align: center;
    font-size: 4rem;
}

.mainTitle {
    padding-top: 4rem;
}

.main {
    height: fit-content;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* présentation */
.main__presentation {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10rem;

    background-color: rgba(191, 184, 178, 0.7);

    width: 70%;
    padding: 2rem;
    border-radius: 1rem;
}

.main__presentation>h3 {
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}

/* projet */
.main__projet {
    width: 90%;
    background-color: rgba(191, 184, 178, 0.7);

    border: 2px solid beige;
    border-radius: 1rem;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 5rem 0;
}

/* form contact */
.main__contact {
    width: 50%;

    background-color: rgba(191, 184, 178, 0.7);

    border: 2px solid beige;
    border-radius: 1rem;

    padding: 2rem;
    margin: 5rem 0;
}

#contact__form {
    display: flex;
    flex-direction: column;
}

/*
flouter la page quand la Nav s'affiche
*/
.nav--blur {
   filter: blur(0.3rem);
   transition: 1s;
}

.footer {
    width: 100%;
    height: 2rem;

    position: absolute;
    bottom: 0;
}

@media (width < 900px) {
    
}

@media (width < 900px) and (width > 760px) {
    .mainTitle, .secondTitle {
        font-size: 2rem;
    }

}

@media (width < 760px) {
    .mainTitle, .secondTitle {
        font-size: 2rem;
    }

    .footer {
        position: relative;
    }
}