.container {
    height: 100vh;
    width: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-image: url('/src/utils/images/montFuji.jpg');
    background-size: cover;

    transition: 0.7s;

    display: flex;
    flex-direction: column;
}

.title__barre {
    display: block;
    border: 2px solid black;
    margin: 0 25%;
}

.mainTitle, .secondTitle {
    text-align: center;
    font-size: 4rem;
}

.mainTitle {
    padding-top: 4rem;
}

.main {
    height: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* présentation */
.main__presentation {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: 10rem;

    background-color: rgba(191, 184, 178, 0.7);

    width: 66%;
    padding: 2rem;
    border-radius: 1rem;
}

.main__presentation>h3 {
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}

/* projet */
.main__projet {
    position: absolute;
    top: 30rem;
    width: 90%;
    background-color: rgba(191, 184, 178, 0.7);

    border: 2px solid beige;
    border-radius: 1rem;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* card projet */
.card {
    border: 1px solid black;
    border-radius: 1rem;
    height: 20rem;
    width: 25%;
    padding: 1rem;
    margin: 1rem;
}

/*
flouter la page quand la Nav s'affiche
*/
.nav--blur {
   filter: blur(0.3rem);
   transition: 1s;
}
