.container {
    height: 100vh;
    width: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-image: url('/src/utils/images/montFuji.jpg');
    background-size: cover;

    transition: 0.7s;

    display: flex;
    flex-direction: column;
}

.title__barre {
    display: block;
    border: 2px solid black;
    margin: 0 25%;
}

.mainTitle, .secondTitle {
    text-align: center;
    font-size: 4rem;
}

.mainTitle {
    padding-top: 4rem;
}

/*
flouter la page quand la Nav s'affiche
*/
.nav--blur {
   filter: blur(0.3rem);
   transition: 0.7s;
}
