#nav {
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.reseaux {
    display: flex;
}

.reseaux > a {
    margin: 2rem 0 0 2rem;
    box-sizing: border-box;
    display: block;
    height: fit-content;
    width: fit-content;
}

.menuBtn {
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    padding-top: 2rem;

    z-index: 1;
}

.menu {
    size: 3rem 3rem;
}

.nav__list--show {
    border: 2px solid whitesmoke;
    border-radius: 5%;

    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem grey;

    align-self: center;
    text-align: center;

    margin-top: 15rem;
    padding: 2rem;

    opacity: 100%;

    transition: 1s;

    z-index: 2;
}

.nav__list {
    border: 2px solid whitesmoke;
    border-radius: 5%;

    background-color: rgba(128, 128, 128, 0.5);

    align-self: center;
    text-align: center;

    margin-top: 30rem;
    padding: 2rem;

    opacity: 0%;

    transition: 0.5s;
}

.nav__list>li>button, .nav__list--show>li>button {
    background: none;
    margin: 0.4rem 2.7rem;
    padding: 0.1rem 0.3rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

.nav__list>li>button:hover, .nav__list--show>li>button:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    cursor: pointer;
}

.nav__list>li>button:active, .nav__list--show>li>button:active {
    box-shadow: inset -0.1rem -0.1rem 0.1rem 0.1rem black;
}

@media (width < 900px) and (width > 760px) {
    #nav {
        justify-content: end;
    }
    
    .nav__list, .nav__list--show {
        margin-right: 10rem;
    }
    
    .reseaux {
        display: flex;
        justify-content: space-evenly;
    }
    
    .reseaux > a {
        margin: 2rem 0 0 0;
    }
}

@media (width < 760px) {
    #nav {
        justify-content: end;
    }

    .menuBtn {
        padding-right: 1rem;
    }

    .nav__list, .nav__list--show {
        margin-right: 0;
    }

    .reseaux {
        display: flex;
        justify-content: space-evenly;
    }
    
    .reseaux > a {
        margin: 2rem 0 0 0;
    }
}

/*
 Animation du menu burger
*/
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
/*
 Fin animation menu burger
*/