.main__contact {
    width: 50%;

    background-color: rgba(191, 184, 178, 0.7);

    border: 2px solid beige;
    border-radius: 1rem;

    padding: 2rem 5rem;
    margin-top: 5rem;
    
    z-index: 1;
}

#contact__form {
    display: flex;
    flex-direction: column;
}

#contact__form > h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

#contact__form > textarea {
    resize: none;

    height: 10rem;
    overflow: auto;
}

#contact__form > textarea, #contact__form > input {
    padding: 0.3rem;

    border-radius: 0.5rem;
    border: 0;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

#contact__form > button {
    margin-top: 1rem;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    width: fit-content;

    align-self: center;
}
#contact__form > button:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    cursor: pointer;
}
#contact__form > button:active {
    box-shadow: inset -0.1rem -0.1rem 0.1rem 0.1rem black;
}